html {
    background-color: #2686de;
    font-size: 10px;
    /* px 表示 “像素（pixels）”: 这个基础字号现在高10像素 */
    font-family: 'Montserrat', sans-serif;
    /* 剩下的部分是你从 Google fonts 上获取的输出 */
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
    /*文本位置*/
}

img {
    display: block;
    margin: 0 auto;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    /*行高*/
    letter-spacing: 1px;
    /*字间距*/
}
